
nav{
    color:white;
}

.fa-dice-d20{
    font-size:120px;
    display:inline-block;
    width:100%;
    text-align:center;
    margin:50px auto;
    color: #239090
}

.btn-primary{
    background-color:#239090;
    border-color:#239090
}

h1 span{
    color:#239090
}

h1{
    text-align:center;
    width:100%
}

.button-block{
    
    margin:0 auto;
}
.container{
    /* background-color:red; */
    padding:0;
}

.hidden{
    display:none;
}


.card-body{
    padding:0; margin:0;
}

.card{
    border:none;
    display:inline-block;
    width:47.5%;
}
.card-title{
    padding-top:10px;
}
.card{
    
    animation: fadeIn .5s ease-in;
    margin-bottom:5%;
}

@keyframes fadeIn{
    0%{opacity:0;}
    100%{opacity:1;}
}

#displayBoard{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding: 50px 10px 100px;
    

}

#controls i:hover{
    cursor:pointer;
}

#controls{
    border-top:1px solid black;
}
.inactive{
    opacity: 0.1
}

.selected{
    outline:2px solid #239090;
}

#prompter{
    position:fixed;
    bottom:40px;
    background-color:#343a40;
    width:100%;
    color:white;
    text-align:center;
    line-height:40px;
    font-size:14px;
    height:40px;
}

#prompter span{
    width:25px; 
    height:25px;
    border:1px solid white;
    border-radius: 50%;
    display:inline-block;
    line-height:25px;
    position:absolute;
    right:10px;
    top:7.5px;
}

.horizontalScroll .card{
    width:200px;
}

.hidden-desc{
    position:fixed;
    bottom:100px;
}

#controls .dropdown-menu{
    width: 300px;
    /* outline:1px solid black; */
    margin:0 0 10px 0;
    left:-138px;
}

#charInfo{
    display:flex;
    flex-wrap:nowrap;
    justify-content:space-between
}
#controls #user{
    /* outline:1px dotted white; */
}

.spellButton{
    width:100%;
    color:white;
    background-color: #239090;
    margin-top:50px;
}

.numSpellsSelected{
    font-size:12px;
    position:absolute;
    right:20px;
    height:35px;
    padding-top:3px;
}

#attackSpells, #utilitySpells, #supportSpells, #strategySpells{
    width:100%;
    overflow-x:scroll;
    overflow-y:hidden;
    position:relative;
    height:200px;

}

.horizontalScroll{
    display:flex;
    padding:10px;
    position: absolute;
}

.horizontalScroll .card{
    width:200px;
    margin-right:20px;
}

#displayBoard{
    overflow:hidden;
}

label{
    width:100%;
    display:flex;
    justify-content: space-between;
    height: 30px;
    line-height:30px;
}

label input[type="radio"]{
    height:30px;

}

label:nth-of-type(odd){
    background-color:#eee;
}